@media screen and (max-width: 1110px) {
    .header__title {
        padding-left: 15px;
        padding-right: 15px;
    }
    .info {
        position: relative;
        top: 0;
        margin-bottom: 100px;
    }
    .about__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
        justify-items: center;
    }
    .about{
        padding: 100px 15px 0px 15px;
    }
    .about__projects {
        flex-direction: column;
    }
    .about__project-item {
        align-self: center;
        margin: 0 0 50px;
    }
    .about__project-item:last-child {
        margin: 0;
    }
    .services {
        padding-left: 15px;
        padding-right: 15px;
    }
    .services__items {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat((3, 1fr));
    }
    .services__item {
        width: 100%;
    }
    .porfolio_items {
        grid-template-columns: repeat(2, 1fr);
    }
    .partners__items {
        justify-content: center;
    }
    .reviews__cards {
        grid-template-columns: repeat(1, 1fr);
    }
    .review__item {
        margin-bottom: 20px;
    }
    .reviews__card {
        margin-bottom: 10px;
    }
    .contacts__items {
        flex-direction: column;
        align-items: center;
    }
    .contacts__item {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 800px) {
    .about__grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 30px;
        justify-items: center;
        padding: 0;
    }
    .services__items {
        grid-template-columns: repeat(1, 1fr);
    }
    .services__item {
        width: 100%;
    }
    .contact__send-mail {
        padding: 10px 20px;
    }
    .porfolio_items {
        grid-template-columns: repeat(1, 1fr);
    }
}