.sidebar-nav {
    position: fixed;
    z-index: 1;
    background-color: #fff;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.8);
    width: 250px;
    height: 100vh;
    transition: 0.7s ease;
}
.sidebar-nav_hide {
    transform: translateX(-150%);
}
.sidebar-nav__title {
    color: var(--accent-color);
    text-align: center;
}
.sidebar-nav__items {
    list-style: none;
}
.sidebar-nav__items a{
    color: black;
}
.sidebar-nav__items a:hover{
    color: var(--accent-color);
}
.burger {
    position: fixed;
    z-index: 2;
}
